OCR_API_URL="YOUR_OCR_API_URL"
USER_SERVICE_URL="YOUR_USER_SERVICE_URL"
QUEUE_SERVICE_URL="YOUR_QUEUE_SERVICE_URL"
RABBITMQ_URL="YOUR_RABBITMQ_URL"

# OCR_API_URL="http://127.0.0.1:5000/scan-ocr"
# USER_SERVICE_URL="http://127.0.0.1:5001"
# QUEUE_SERVICE_URL="http://127.0.0.1:5002"
# RABBITMQ_URL=amqp://localhost:5672